
html {
position: relative;
min-height: 100%;
}

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
	margin-bottom: 30px; /* Margin bottom by footer height */
}


#override{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0)), url(https://c2.staticflickr.com/2/1495/25252015696_f5e114a5ff_h.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#header-content{
	font-family: 'Open Sans', sans-serif;;
	color: white;
}

#c-label-content{
	font-family: 'Open Sans', sans-serif;;
	color: white;
}

#map {
	width: 500px;
	height: 400px;
}

#progress {
	width: 200px;
	height: 200px;
	margin: 0 auto;
}


/* --> Begin Footer Section <-- */
	.footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		/* Set the fixed height of the footer here */
		height: 30px;
		text-align:center;
		background-color: #222222;
		/*background-color:rgba(255,255,255,0.7);*/
	}

	.container .text-muted {
	  margin: 5px 0;
	}
/* --> End Footer Section <-- */


/* --> Begin List Group Item Section <-- */
	.list-group-item{
		font-family: 'Open Sans', sans-serif;
		text-align: left;
	}
/* --> End List Group Item Section <-- */


/* --> Begin Link Color Section <-- */
	a:link {
		color: rgba(176,0,0,1);
		background-color: transparent;
		text-decoration: none;
	}

	a:visited {
	    color: black;
	    background-color: transparent;
	    text-decoration: none;
	}

	a:hover {
	    color: green;
	    background-color: transparent;
	    text-decoration: none;
	}
/* --> End List Color Section <-- */


/*
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}*/

