<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Closest Citibike - Home</title>
    <style>
        #map {
            width: 500px;
            height: 400px;
        }
    </style>
</head>
<body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    
    <div><h2> <b>Closest Citibike - Home</b></h2> </div>
    <hr>
    {% block content1 %} {% endblock %}

</body>
</html>
