
{% extends "base.html" %}
{% block content1 %}
<div class="container">
  <div class="row">
    <div class="col-sm-6">
       <p id="p_coordinates"> Loading Coordinates... </p>
       <p id="stations"> Loading Stations... </p>
    </div>
  </div>
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default">Left</button>
    <button type="button" class="btn btn-default">Middle</button>
    <button type="button" class="btn btn-default">Right</button>
  </div>
</div>
    <script type="text/javascript" src="/static/js/citibike.js">
    </script>
{% endblock %}
