<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title> Closest Citibikes | Home</title>
    
    <link href="/static/css/custom.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-37049317-3', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->

    <!-- JS Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <!-- End JS Scripts -->

</head>

<body id="override">
    <script type="text/javascript"> 
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>


    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"></button>
                <a class="navbar-brand">Closest Citibike</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" id="address" placeholder="Enter Address">
                    </div>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://github.com/vdersar1/ClosestCitibike">Github</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!-- End Navbar -->

    <!-- Begin Content -->
    <div class="container-fluid">
        <div class="row">

            <!-- Begin Left Column -->
            <div class="col-md-3">                            
                <!-- Begin Station Table -->
                <div class="stations" id="stations">
                    <div id="bikes"> </div>
                    <div id="parking" style="display: none;"></div>
                </div>
                <!-- End Station Table -->
                <br />

                <!-- Begin Toggle Buttons -->
                <div class="text-center">
                    <div class="btn-group text-center" role="group" aria-label="...">
                        <button type="button" id="bikebutton" class="btn btn-default">Bikes</button>
                        <button type="button" id="parkbutton" class="btn btn-default">Parking</button>
                    </div>
                </div>
                <!-- End Toggle Buttons -->

            </div>
            <!-- End Left Column -->

            <!-- Begin Map & Right Column -->
            <div class="col-md-9 text-center">
                <div id="map" style="display:none;"></div>
            </div>
            <!-- End Map & Right Column -->
        </div>

        <!-- Begin Progress Bar -->
        <div id="progress" class="text-center"></div>
        <!-- End Progress Bar -->
        
        <div class="row">
            <div class="col-md-12"></div>
        </div>
        

    </div> <!-- container -->
    <!-- End Content -->




    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <p class="text-muted"> 
                <script>
                    var d = new Date();
                    document.write("Closest Citibike " + d.getFullYear());
                </script>
            </p>
        </div>
    </footer>
    <!-- End Footer -->


    <!-- JS Scripts -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCULBWkM7EHcIiQkOqisULz1AswwHkxl_U" async defer></script>
        <script type="text/javascript" src="/static/js/progressbar.js"></script>
        <script type="text/javascript" src="/static/js/citibike.js">
            <link href="/static/css/citibike.css" rel="stylesheet">
        </script>
    <!-- End JS Scripts -->

</body>

