{% extends "base.html" %}
{% block content1 %}
    <h1>Geolocation Test</h1>
    <p id="p_coordinates"> </p>
    
    <script>
        var x = document.getElementById("p_coordinates");
        var lat = "", lon = "";

        function get_location(){
            navigator.geolocation.getCurrentPosition(showPosition);
        }

        function showPosition(position) {
            lat = position.coords.latitude;
            lon = position.coords.longitude;
            x.innerHTML = "Latitude: " + lat + "<br>Longitude: " + lon;
            send_geo();
        }
      
        function send_geo(){
            console.log(lat);
            console.log(lon);

            $.ajax({
            url: ($SCRIPT_ROOT + '/receive_coord'),
            data: JSON.stringify({'lat': lat, 'lon': lon}, null, '\t'),
            contentType: 'application/json;charset=UTF-8',
            type: "POST",
            success: function(response) {
                console.log("success:");
            },
            error: function(error) {
                console.log("error");
            }
            });
        }

        window.onload = get_location;  

        /* //The function below is usable with request.args.get('key', default value, type=type)
        /*function send_geo(){ 
            $.getJSON($SCRIPT_ROOT + '/receive_coord', {
                lat: lat,
                lon: lon
                }, 

                function(data) {
                    //$("#result").text(data.result);
                    console.log(data.result);
            });
        }*/ 
        
    </script>
{% endblock %}

